body{
	margin: 0px;
	padding: 0px;
	background-color:#F2EEEE;
}
.my-style{
	text-align: center;
	color: green;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}

.paragraph{
	text-align: center;
	color:#20401D;
	font-size: 20px;
}
.display-4{
	text-align: end;
	
}
.names{
	text-align: center;
	text-decoration-color: black;
}
img{
	border-color: green;
	border-style: dashed;
	border-width: thick;
}
div{
	margin: 0px;
	padding: 0px;
}
