body{
	margin: auto;
	padding: auto;
	background-color:#F2EEEE;
}
.my-style{
	text-align: center;
	color: green;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}

.paragraph{
	text-align: center;
	color:#20401D;
	font-size: 20px;
}
.jumbotron-heather{
	text-align: end;
	
}
img{
	align-content: center;
	margin: 10px;
	margin-right: 90px;
	padding: 2px;
	border:dashed;
	border-color: darkgreen;
}
.footballers{
	text-align: center;
	text-decoration: underline;
}
.container-fluid{
	object-position: center;
	position: relative;
}